@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #EEF5FF;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 10px
}

.header {
    width: 100vw;
    text-align: center;
    background-color: #A25772;
    color: white;
    padding: 10px 0;
}

.content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.button-wrapper button {
    font-size: 2rem;
    margin-top: 5px;
    padding: 10px;
    background-color: #9EB8D9;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-wrapper button:hover {
    font-size: 2rem;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    color: #9EB8D9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 50rem;
    height: 25rem;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 2rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {
    html {
        font-size: 7px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-wrapper {
        margin: 10px 0;
    }


}

